body {
    background-color: #E4D1B9;
}

.custom-navbar {
    padding-top: 20px;
    background-color: #E4D1B9;
}

.navbar-brand {
    color: black;
    margin-left: 100px;
    font-family: "Instrument Serif", serif;
    font-size: 30px;
}

.navbar-toggler {
    border-color: black;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0,0,0,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link {
    color: black;
    margin-right: 100px;
    font-family: "Instrument Serif", serif;
    font-size: 25px;
}

.dot-bg {
    position: relative;
    width: 100%;
    height: 500px;
    margin-left: auto;
  
    background-image: radial-gradient(circle, #2a6a87 1.5px, transparent 1px);
    background-size: 16px 16px;
}

.about-text {
    max-width: 600px;
    margin-left: auto;
    font-family: "Instrument Serif", serif;
    font-size: 22px;
}

#projects {
    padding-top: 80px;
}

.p1 {
    margin-left: 150px;
    box-shadow: 13px 20px rgb(81, 80, 80);
}
.p2 {
    box-shadow: 13px 20px rgb(81, 80, 80);
}

.p1-text {
    max-width: 600px;
    margin-left: auto;
    font-family: "Instrument Serif", serif;
}

a {
    color: #2a6a87;
    font-weight: bold;
}
a:hover {
    color: #2a6a87;
}

.p2-sec {
    margin-top: 100px;
}

.p3 {
    margin-left: 150px;
}

#contact {
    padding-top: 50px;
}
.end-text{
    font-size: 30px;
    font-family: "Instrument Serif", serif;
}


/* Image container */
.dot-bg {
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 520px;
    margin: auto;
}

/* Shared image styles */
.kwae,
.tape {
    position: absolute;
    user-select: none;
    pointer-events: none;
}

/* Kwae photos */
.kwae-1 {
    width: 200px;
    top: 100px;
    left: 55%;
    transform: rotate(8deg);
}

.kwae-2 {
    width: 280px;
    top: 200px;
    left: 3%;
    transform: rotate(-4deg);
}

.kwae-3 {
    width: 240px;
    top: 20px;
    left: 22%;
}

/* Tape */
.tape-1 {
    width: 140px;
    top: -8px;
    left: 18%;
    transform: rotate(120deg);
}

.tape-2 {
    width: 140px;
    top: 400px;
    right: 30%;
    transform: rotate(-20deg);
}

.tape-3 {
    width: 140px;
    top: 220px;
    right: 25%;
    transform: rotate(-50deg);
}

@media (max-width: 768px) {
    .dot-bg {
        height: 380px;
    }

    .kwae-1 {
        width: 180px;
        left: 50%;
        transform: translateX(-50%) rotate(6deg);
    }

    .kwae-2,
    .kwae-3,
    .tape {
        display: none;
    }
}